body {
	margin:0;
	padding:0;
	font-family: "Avenir", "Arial"; 

}

#map {
	 	
	top:0;
	bottom:0;
	margin-left: auto;
	width:100%;
	height:750px;
}

#info-window{
	background-color: rgba(161, 165, 175, 0.2);
	overflow: scroll;
	height: 750px;
	overflow-y:scroll;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.dropdown-menu{
	cursor: pointer;
}

.jumbotron{
	background-color: rgba(161, 165, 175, 0.2);
	
	
}

.btn-primary{
	background-color: #57bed5;
	border-color: #57bed5;
}

.btn-primary:hover{
	background-color: #003056;
	border-color: #003056;
	
}

.navbar{
	background-color: #9b1828;
}
.navbar-header .navbar-brand {	
	color: #fff;
}
#navbar{	
	color: #fff;
}

/*show scroll bar for OSX
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;

}
::-webkit-scrollbar-thumb {
	padding: 10px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
*/

.leaflet-top-pane {
      pointer-events: none;
}

.leaflet-popup-pane{
	z-index: 10;
}
.leaflet-popup-content{
	font-size: 14px;
	white-space: nowrap;
}
#slider {
	width: 198%;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

#legend {
	margin-left: 5px;
	width: 280px;
	height: auto;
}

#vIndexLegend {
	margin-left: 5px;
	width: 280px;
	height: auto;

}

#affordLegend {

	margin-left: 5px;
	width: 280px;
	height: auto;

}

#ownLegend {
	margin-left: 5px;

	width: 280px;
	height: auto;

}

#year-label {
	top: 80px;
	margin-right: 20px;
	padding: 3px;
	font-size: 30px;
	color: #828282;
	text-align: right;
	line-height: 20px;
	
}

#year-label p{
	letter-spacing: 1px;
}



#phc-logo{

	width: auto;
	height: 50px;
}

#eco-logo{

	width: auto;
	height: 50px;
}


.leaflet-container {
font-family: "Avenir", "Arial"; 
}

/*
	VCR CONTROLS
*/

#vcr-controls {
	margin-right: 15px;
	padding: 3px;
	font-family: "Avenir", "Arial";
}
.vcr {
	
	width: 48px;
	height: 32px;
}
.vcr:hover {
	opacity: .4;
}
